@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 50%;
    height: 50%;
    background: turquoise;
    padding: 2rem;
    margin: 5rem;
    border-radius: 1rem;
    color: white;
}

section h1 {
    padding: 0.5rem;
}

div {
    padding: 0.25rem;
}

div input {
    margin-right: 5px;
    cursor: pointer;
}

div label {
    cursor: pointer;
}

#submit {
    padding: 0.5rem;
    background: crimson;
    border: none;
    font-family: inherit;
    border-radius: 0.5rem;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
}

#submit:hover {
    background: rgba(220, 20, 60, 0.679);
}